@import "tailwindcss";

@theme {
  --color-white: #eeffdb;
  --color-bg: #0e0e0e;
  --color-main: #ef7b1d;
  --color-contrast: #a0a0a0;
  --color-link: #3366ff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  scroll-behavior: smooth;
}

.card {
  background-color: #0a0a0a;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.typed-cursor {
  color: var(--color-main);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
